# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
.melos_tool/

# iOS/Android build
android/.gradle/
android/.idea/
android/local.properties
android/app/release/
android/app/debug/
android/app/profile/
android/app/build/
**/captures/

# VSCode/IntelliJ
.vscode/
.idea/

# macOS/Linux/Windows build dirs
macos/Build/
linux/build/
windows/build/

# Keystore & secrets
android/app/keystore/
**/keystore.properties
**/*.jks
**/*.keystore
